{% extends 'base.html' %}

{% block title %}
    دسته بندی مقالات
{% endblock %}



{% block content %}

<br>
<div class="containter">
    
<div class=" blog__content">

    <!-- Latest News -->
    <section class="section tab-post mb-16">
        <div class="title-wrap title-wrap--line">
            <h3 class="section-title">دسته بندی بر اساس {{ category.title }}</h3>

            
        </div>

        <!-- tab content -->
        <div class="tabs__content tabs__content-trigger tab-post__tabs-content">

            <div class="tabs__content-pane tabs__content-pane--active" id="tab-all">
                <div class="row card-row">
                   
                    {% for i in posts %}
                            <div class="col-md-4">
                                <article class="entry card">
                                    <div class="entry__img-holder card__img-holder">
                                        <a href="{% url 'post' i.id %}">
                                            <div class="thumb-container thumb-70">
                                                <img src="{{ i.image.url }}" class="entry__img lazyloaded" alt="{{ i.title }}">
                                            </div>
                                        </a>
                                        <a href="" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet">{{ i.category.title }}</a>
                                    </div>

                                    <div class="entry__body card__body">
                                        <div class="entry__header">

                                            <h2 class="entry__title">
                                                <a href="{% url 'post' i.id %}">{{ i.title }}</a>
                                            </h2>
                                            <ul class="entry__meta">
                                                <li class="entry__meta-author">
                                                    <span>نویسنده:</span>
                                                    <a href="#">{{ i.author }}</a>
                                                </li>
                                                <li class="entry__meta-date">
                                                    {{ i.create_time }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="entry__excerpt">
                                            <p>{{ i.description }}</p>
                                        </div>
                                    </div>
                                    

                                </article>
                            </div>
                            
                            {% endfor %}
                </div>
            </div> <!-- end pane 1 -->

            
        </div> <!-- end tab content -->
    </section> <!-- end latest news -->

</div>
</div>

{% endblock %}


