{% extends 'base.html' %}

{% block title %}
    فرم تماس با ما
{% endblock %}



{% block content %}
<div class="container">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
            <a href="index.html" class="breadcrumbs__url">خانه</a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item--current">
            تماس با ما
        </li>
    </ul>
</div><div class="main-container container" id="main-container">
    <!-- post content -->
    <div class="blog__content mb-72">
        <h1 class="page-title">تماس با ما</h1>

       
        
        <div class="row justify-content-center">
            <div class="col-lg-8">
                {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <div class="alert alert-success">
                                <strong>{% if message.tags %}{{ message.tags }}!{% endif %}</strong> {{ message }}
                              </div>
                            
                            {% endfor %}
                        </ul>
                        {% endif %}
                <h4>با ما تماس بگیرید</h4>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                <ul class="contact-items">
                    <li class="contact-item">
                        <address>خراسان شمالی - بجنورد</address>
                    </li>
                    <li class="contact-item"><a href="#">۰۵۸-۳۲۲۲۲۲۲۲</a></li>
                    <li class="contact-item"><a href="mailto:topkala@gmail.com">topkalasupport@gmail.com</a></li>
                </ul>

                <!-- Contact Form -->
                <form id="contact-form" class="contact-form mt-30 mb-30" method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                    <div class="contact-email">
                        <label for="email">ایمیل <abbr title="required" class="required">*</abbr></label>
                        <input name="email" id="email" required type="email">
                    </div>
                    <div class="contact-subject">
                        <label for="email">موضوع</label>
                        <input name="title" required id="title" type="text">
                    </div>
                    <div class="contact-message">
                        <label for="message">پیام <abbr title="required" class="required">*</abbr></label>
                        <textarea id="message" name="message" rows="7" required="required"></textarea>
                    </div>

                    <input type="submit" class="btn btn-lg btn-color btn-button" value="فرستادن" id="submit-message">
                    <button type="submit">ارسال</button>
                    <div id="msg" class="message">
                        </div>
                </form>
                
            </div>
        </div>
    </div> <!-- end post content -->
</div>
{% endblock %}